.left__sidebar {
  background-color: #f0914d;
  flex: 0.22;
  border-right: 1px solid #eee;
}

.left__sidebar.customer {
  background-color: #464646;
  flex: 0.30;
  border-right: 5px solid #0091a4;
}

@media(min-width:1440px){
  .left__sidebar.customer {
      flex: 0.25;
    }
}

@media (max-width: 990.98px) {
  .left__sidebar {
    display: none;
  }
}

.left__sidebar .sidebar__list {
  list-style: none;
  padding: 0 10px;
}

.sidebar__list li {
  border-bottom: 1px solid rgba(123,123,123);
  width: auto;
}

.sidebar__list li svg{
  font-size: 30px;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  width: fit-content;
  display: flex;
  align-items: center;
}
.accordion-details .active,
.navigation__link.active {
  color: #0a58ca;
}
.navigation__link h5 {
  margin-left: 10px;
  display: inline-flex;
}

.customer .MuiAccordionSummary-expandIconWrapper,
.customer .accordion-details a,
.customer .accordion-li > div,
.customer .navigation__link,
.customer .navigation__link h5 {
  color: white;
}

.customer .navigation__link h5{
  font-size: 26px;
  margin-bottom: 0;
}

.accordion-navigation-link {
  background-color: transparent !important;
  box-shadow: none !important;
}

.sidebar__list > :not(.accordion-li) {
  padding: 20px 10px;
}

.accordion-details {
  display: flex;
  flex-direction: column;
  padding-top: 0 !important;
}

.accordion-details a {
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid rgb(146, 146, 146);
  color: rgba(0, 0, 0, 0.637);
}

.accordion-details a:last-child {
  border-bottom: none;
}

.accordion-details a:hover {
  color: #0a58ca;
}
