* {
  margin: 0;
}

body {
  background-color: #464646;
  box-sizing: border-box;
  height: 100%;
  color: #292929;
  font-family: "Manrope";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
p{margin: 0;}
.table {
  margin-bottom: 0;
}

.header {
  height: 12vh;
  position: relative;
}
.content {
  min-height: 83vh;
  position: relative;
}
.footer {
  height: 5vh;
  position: relative;
}

hr {
  border: 1px solid #464646 !important;
  margin: 20px 0 !important;
}

.p-relative{
  position: relative;
}
.h-60vh{
  height: 60vh;
}
.max-width-100{max-width: 100%;}
.flex-direction-reverse{flex-direction: column-reverse;}
.mb-80{margin-bottom: 80px !important;}
.color-white{color: white;}

@media (min-width:1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
}
}
@media (max-width: 574.98px) {
  h5 {
    font-size: 16px;
  }
}

.mdb-datatable table tr{
  color: white;
}

label{
  color: #464646;
}
.hotel-container tbody a{
  color: #f0914d;
}
.page-item.disabled .page-link,
.page-item .page-link{
  color: #464646;
}