.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
    width: auto;
    background-color: #0091a4;
    color: white;
}
@media(max-width:767.98px){
    .footer{
        display: none;
    }
}