.header {
  background-color: #0091a4;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-bottom: 5px solid #464646;
}

.header .header__link {
  overflow: hidden;
  width: auto;
  height: 100%;
}

.header img {
  object-fit: contain;
  width: auto;
  height: 80%;
  background-color: transparent;
  color: #f8f8f8;
}

.header h2 {
  color: #f8f8f8;
}

.header__right li {
  margin: 0 10px;
  list-style: none;
}

.header__right ul {
  display: flex;
  margin-bottom: 0 !important;
}

.header__right ul a {
  display: inline-flex;
  color: white;
  text-decoration: none;
}

.header__right h5 {
  margin: 0 5px;
}

#closebtn,
#toogle-menu-button {
  cursor: pointer;
}

.header-user-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: end;
  color: white;
}

.header-user-text h3 {
  font-size: 20px;
  margin: 0;
}
.header-user-text p {
  font-size: 14px;
}
@media (max-width: 990.98px) {
  .header__right {
    display: none;
  }
}

@media (min-width: 991px) {
  .overlay,
  #closebtn,
  #toogle-menu-button {
    display: none;
  }
}



@media (max-width: 990.98px) {
  #toogle-menu-button {
    display: block;
  }
}

@media (max-width: 574.98px){
  .header {
    background-color: #0091a4;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
  }

  .header h3{
    font-size: 16px;
    color: white;
    margin: 0;
  }

  .header img{
    transform: none;
  }
  
}