@media (min-width:575px) {
  .drinkTypes-user-box{
    flex-basis: 48%;
    margin: 0% 2% 2% 0;
  }
  .drinkTypes-user-box .img-wrapper img{
    object-fit: cover;
    height: 240px;
  }

  .drinkTypes-user-box__bookmark-text-wrapper {
      display: flex;
      width: 100%;
      flex-basis: 100%;
      min-height: 60px;
      background: #0091a4;
      align-items: center;
  }
    .drinkTypes-user-box__bookmark-text-wrapper h2 {
      color: white;
      position: relative;
      text-align: start;
      font-size: 22px;
      margin: 0;
      padding: 20px;
    }
}
@media(max-width:574.98px){
  .drinkTypes-user-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    flex-basis: 100%;
    margin-bottom: 25px; 
    border-radius: 10px;
    height: 240px;
  }
  .drinkTypes-user-box:last-child{
    margin-bottom: 0;
  }

  .drinkTypes-user-box .img-wrapper img{
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid rgba(15, 15, 15, 0.6);
    height: 100%;
  }
  .drinkTypes-user-box .img-wrapper {
    width: 100%;
    height: 100%;
  }
  .drinkTypes-user-box__bookmark-text-wrapper{
    position: absolute;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #0091a4;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
 
  .drinkTypes-user-box__bookmark-text-wrapper h2{
    color:white;
    position: relative;
    text-align: start;
    font-size: 18px;
    margin: 0;
    padding: 10px;
  }
}

@media(max-width:424.98px) {
  .drinkTypes-user-box{
    height: 200px;
  }
}