.error-wrapper{
  border: 2px solid rgba(143, 15, 15, 0.925) ;
  outline: none;
  border-radius: 10px;
  height: auto;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}

@media(min-width: 991px){
  .error-wrapper {
    width: 30%;
  }
}
@media(max-width: 990.98px) {
  .error-wrapper {
      width: 80%;
    }
}

.error-wrapper p{
  text-align: center;
  margin-bottom: 20px;
}

.error-btn{
  background-color: rgba(143, 15, 15, 0.925)!important;
}