.info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info-flex-three {
  position: relative;
}
.info-flex-three img {
  max-width: 200px;
}
.info-flex-three .button__rounded {
  width: auto;
  margin: 0px 5px;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
}
.info-flex-three .button__rounded * {
  font-size: 28px;
}
.info-flex-three > .buttons-wrapper {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: flex-end;
}

.info-wrapper .info-flex-three {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  max-height: 300px;
  background-color: #f0914d85;
  flex-basis: 46%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 4%;
  border-radius: 10px;
  -webkit-box-shadow: 0px -1px 11px 0px #bb957a;
  -moz-box-shadow: 0px -1px 11px 0px #bb957a;
  box-shadow: 0px -1px 11px 0px #bb957a;
}

.info-box h2 {
  color: initial;
}

.info-wrapper .review-author {
  margin-top: 5px;
  text-align: center;
}

.info-wrapper .review-timestamp {
  font-size: 11px;
}
.info-description {
  text-transform: uppercase;
  margin-top: 10px;
}
.info-description h2 {
  font-size: 28px;
}
