@media(max-width:574.98px){
  
  /* .drink-user-headline{
    position: relative;
    text-align: center;
    width: 100%;
    color: white;
    padding-bottom: 5px;
    font-family: 'Source Serif Pro';
    font-size: 28px;
    margin-bottom: 30px;

  } */
  
}
