.user-all-events.latest-post-box .post-img img,
.user-home-events.latest-post-box .post-img img {
  max-width: 100%;
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
}
.latest-post-box .post-desc {
  background-color: #0091a4;
  padding: 20px 15px;
  color: white;
}
.latest-post-box {
  /* border: 1px solid #707070; */
  /* padding-bottom: 5px; */
  margin-bottom: 20px;
  text-align: start;
  border-radius: 5px;
}
.latest-post-box h4 {
  text-align: start;
}
.latest-post-box h4 a {
  text-decoration: none;
  color: white;
}
.kp-events > h2 {
  font-size: 40px;
}
