.user-events-details-content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-events-details-content-wrapper p{
  font-size: 18px;
  color: white;
}

.user-events-details-content-wrapper img{
  max-width: 75%;
}

@media(max-width:767.98px){
  .user-events-details-content-wrapper p{
    font-size: 14px;
  }
  .user-events-details-content-wrapper img{
    max-width: 90%;
  }
}